:root {
    --black-3: 
  rgba(0, 0, 0, 0.102);
    --black-2: 
  rgba(0, 0, 0, 0.502);
    --black-4: 
  rgba(0, 0, 0, 0.749);
    --black-5: 
  rgba(0, 0, 0, 0.902);
    --black: 
  rgba(0, 0, 0, 1);
    --science-blue-2: 
  rgba(0, 113, 206, 0.502);
    --science-blue: 
  rgba(0, 113, 206, 1);
    --science-blue-3: 
  rgba(8, 107, 201, 1);
    --mine-shaft: 
  rgba(51, 51, 51, 1);
    --sonic-silver: 
  rgba(118, 118, 118, 1);
    --gray: 
  rgba(128, 128, 128, 0.8);
    --star-dust: 
  rgba(160, 160, 160, 1);
    --silver: 
  rgba(191, 191, 191, 0.8);
    --silver-2: 
  rgba(191, 191, 191, 1);
    --mist-gray: 
  rgba(196, 196, 196, 1);
    --cloud: 
  rgba(199, 199, 199, 1);
    --alto: 
  rgba(219, 219, 219, 1);
    --cararra: 
  rgba(235, 233, 233, 1);
    --concrete-3: 
  rgba(242, 242, 242, 0.298);
    --concrete-2: 
  rgba(242, 242, 242, 0.8);
    --concrete: 
  rgba(243, 242, 241, 1);
    --my-sin: 
  rgba(252, 182, 26, 1);
    --white-2: 
  rgba(255, 255, 255, 0.502);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-m: 12px;
    --font-size-l: 14px;
    --font-size-xl: 16px;
    --font-size-xxl: 22px;
    --font-size-xxxl: 48px;
  
    --font-family-fabric_mdl2_assets-regular: "Fabric MDL2 Assets-Regular";
    --font-family-segoe_ui-bold: "Segoe UI-Bold";
    --font-family-segoe_ui-regular: "Segoe UI-Regular";
    --font-family-segoe_ui-semibold: "Segoe UI-Semibold";
    --font-family-segoe_ui-semibolditalic: "Segoe UI-SemiboldItalic";
  }
  
  
  
  .segoeui-normal-black-14px-2 {
    color: var(--black-2);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .border-1px-black-2 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--black-2);
  }
  .segoeui-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-xl);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-regular-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-segoe_ui-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .border-1px-black {
    border-width: 1px;
    border-style: solid;
    border-color: var(--black);
  }
  .segoeui-bold-white-16px {
    color: var(--white);
    font-family: var(--font-family-segoe_ui-bold);
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-style: normal;
  }
  .segoeui-normal-white-12px {
    color: var(--white);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .border-5px-cloud {
    border-width: 5px;
    border-style: solid;
    border-color: var(--cloud);
  }
  .segoeui-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-black-12px-3 {
    color: var(--black-4);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-black-12px {
    color: var(--black-2);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-regular-normal-mine-shaft-14px {
    color: var(--mine-shaft);
    font-family: var(--font-family-segoe_ui-regular);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-black-12px-2 {
    color: var(--black);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-white-22px {
    color: var(--white);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-white-14px {
    color: var(--white);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-l);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-regular-normal-black-12px {
    color: var(--black);
    font-family: var(--font-family-segoe_ui-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-mine-shaft-48px {
    color: var(--mine-shaft);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-xxxl);
    font-weight: 400;
    font-style: normal;
  }
  .segoeui-normal-black-12px-4 {
    color: var(--black-5);
    font-family: var(--font-family-segoe_ui-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .border-1px-white-2 {
    border-width: 1px;
    border-style: solid;
    border-color: var(--white-2);
  }